/**
 * Created by qqwan on 2019/03/13.
 */
#app{
    height: 100%;
}
.height-full{
    height: 100%;
}
.main-container{
    min-height: 100%;
}
.mui-off-canvas-left{
    width: 120px;
}
* { touch-action: pan-y; }
.touch-action{
    touch-action: none;
}
.fr{
    float: right;
}
.w-half{
    width: 50%;
}
.inline-block{
    display: inline-block;
}
.mui-table-view-cell.border-none:after{
    /*height: 0;*/
    right: 15px;
}
.text-right{
    text-align: right;
}
.pl15{
    padding-left: 15px;
}
.mui-control-content,.mui-slider-group{
    min-height: 300px;
}
